In [5]:
import pandas as pd

# Load the iris dataset
df = pd.read_csv('../iris/iris.data', header=None)

# Assign column names
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

# Map class names to integers
class_mapping = {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}
df['class'] = df['class'].map(class_mapping)

# Display the first few rows of the dataframe
df.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [6]:
import numpy as np

# Quantize the dataset to 4 bits
def quantize_to_4_bits(df):
    df_quantized = df.copy()
    for column in df.columns[:-1]:  # Exclude the 'class' column
        max_val = df[column].max()
        min_val = df[column].min()
        df_quantized[column] = ((df[column] - min_val) / (max_val - min_val) * 15).round().astype(int)
    return df_quantized

df_quantized = quantize_to_4_bits(df)
df_quantized.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0             3            9             1            1      0
1             3            6             1            1      0
2             2            8             1            1      0
3             1            7             1            1      0
4             3           10             1            1      0

In [9]:
# Export the preprocessed data to a new CSV file without header
df_quantized.to_csv('../iris/iris.csv', index=False, header=False)